<nav class="navbar navbar-expand-lg bg-primary m-2">
    <div class="container-fluid">
      <i class="fa-solid fa-truck-fast fs-1 text-light me-2"></i>
      <a class="navbar-brand fs-2 text-white" href="#">OASYS CART DIGITICS </a>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search" >
      </div>
      <span class="fas fa-search search-icon "></span>
      <!-- <div class="d-flex flex-grow-1" role="search">
        <input class="form-control me-2 " type="search" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search" aria-label="Search">
        <i class="fa-solid fa-magnifying-glass mt-3 text-light fs-2 "></i>
      </div> -->
        <div class="d-flex justify-content-between align-items-center me-5">
        <i class="fa-solid fa-rotate fs-1 text-light ms-5 me-3"></i>
          <a href="#"><h5 class="text-light">Compare<br>products</h5></a>
          <!-- <i class="fa-regular fa-heart fs-1 text-light ms-5 me-3"></i>
          <a href="#"><h5 class="text-light">favourite<br>Wishlist</h5></a> -->
          <i class="fa-solid fa-user-plus fs-1 text-light ms-5 me-2" routerLink="/signup"></i>
          <a href="#" routerLink="/signup"><h5 class="text-light ">Sign Up</h5></a>
          <i class="fa-regular fa-user fs-1 text-light ms-5 " routerLink="/login"></i>
          <a href="#" routerLink="/login"><h5 class="text-light" >Login</h5></a>
          <i class="fa-solid fa-cart-plus fs-1 text-light ms-4 "routerLink="/cart"></i>
          <div  class="badge bg-danger me-2">{{totalItem}}</div>
          <!-- <a href="#"> <h5 class="text-light ms-2" >AddCart</h5></a> -->
        </div>
    </div>
  </nav>